body {
    font-family: 'Times New Roman', Times, serif;
    margin: 0;
    padding: 22 0;
    background-image: url("https://www.simplilearn.com/ice9/free_resources_article_thumb/how_to_become_machine_learning_engineer.jpg");
    background-repeat: no-repeat;
    background-size:cover;
}

header {
    color: #fafdff;
    text-align: center;
    padding: 20spx;
    font-size: xx-large;
}

nav ul {
    list-style: none;
    padding: 20 0;
    font-weight: bold;
    font-size: larger;
}

nav li {
    display: inline;
    margin-right: 20px;
}

a {
    color: #fff;
    text-decoration: none;
}
a:hover{
    color: rgb(62, 171, 165);
}
h1{
    padding: 15px;
}
h2{
    text-align: center;
    font-weight: bold;
    color: #ffffff;
    font-size: xx-large;
}
span{
    color: rgb(255, 255, 255);
}

h3{
    text-align: center;
    font-style: italic;
    font-family: 'Times New Roman', Times, serif;
    color: #ffffff;
    font-size: 13vh;
}
.main-content {
    padding: 20px;
}

footer {
    color: #fff;
    text-align: center;
    padding: 10px;
    position: absolute;
    bottom: 0;
    width: 100%;
    font-weight: bold;
    font-size: larger;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin-bottom: 5px;
}

input {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

button {
    background-color: #333;
    color: #fff;
    padding: 10px;
    border: none;
    cursor: pointer;
}

button:hover {
    background-color: #ffffff;
}
